# Dependencias de Node.js
node_modules/

# Archivos de construcción de TypeScript
dist/
build/
out/

# Archivos de configuración del entorno
.env

# Archivos de lock de npm o yarn
package-lock.json

# Archivos de TypeScript
*.tsbuildinfo

# Configuraciones locales
.vscode/
.idea/
